
#root {
    display: flex;
    justify-content: center;
    align-items: center;
 height: auto;
}

.App {
    width: 60%;
    position: relative
}

table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 5px;
    background: #E1E3E0;
    border-radius: 20px;
    width: 90%;
}

tbody tr {
    border-bottom: 1px solid #818181;
}

tbody tr:last-child {
    border-bottom: none
}

tbody tr:hover {
    background: #fdfffc;
}

.arrowDown {
    border: 10px solid transparent;
    border-top-color: yellowgreen;
    border-bottom: 0;
    width: 1px;
    display: inline-block;

}

.info {
    display: flex;
    flex-direction: column;

}
.info p{
    margin: 0;
}
.info textarea {
    width: 60%
}

.Pages {
    display: flex;
}

.Pages li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
    list-style: none;
}

.arrowUp {
    border: 10px solid transparent;
    border-bottom-color: #cd536d;
    border-top: 0;
    width: 1px;
    display: inline-block;
}

.tables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

thead {
    font-size: 24px;
    font-weight: 300;
    padding: 12px 10px;
    border-bottom: 2px solid #F56433;
    color: #F56433;
}

td {
    padding: 10px;
    color: #8D8173;
}

input[type=submit] {
    font-size: 16px;
    height: 35px;
    margin-left: 10px;
    margin-top: 10px;
    background: #c4092f;
    border: none;
    border-radius: 2px;
    color: #FFF;
}

.itemSize {
    height: 35px;
    width: 32%;
    margin: 1%;
}

.Search {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search input[type=submit] {
    margin: 0;
}

.loader {
    margin:30% auto ;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}